@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Walle</h1>
    <p class ="homebody">Welcome to Walle! Named affectionately after the movie "WALL-E, which I watched while building this project, Walle is your dedicated hub for storing your favorite movies and their stars.</p>
</div>
